@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500&family=Great+Vibes&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&family=Recursive:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;   
    font-size: 18px;
}

a{
    text-decoration: none;
    
}
nav{

  
  text-align: right;
  top: 0;
  left: 0;
  z-index: 1s;
  opacity: 0.9;
  height: 80px;
  width: 100%;
}
nav img{
  float: left;
  width: 151px;
  height: 170px;
  margin-left: 20px;
  
}
nav ul{
  display: block;
  padding: 0;
  margin: 0;
}
nav li{
  list-style: none;
  display: inline-block;
  flex-direction: column;
}
nav li a{
color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 37px 10px 35px ;
  margin-right: 10px;
}
a:active,a:hover{
  background-color: #eaa023;
  border-radius: 8px;
  transition: .5s;
}
.material-icons{
  display: none;
  padding: 10px;
  margin:20px;
  cursor: pointer;
  line-height: 40px;


}
/* responsive surface duo ----------*/
@media(max-width:540px){
  nav img{
      float: left;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      
  }
  .material-icons{
      display: block;
      }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              line-height:0;
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              line-height: 0px;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
              
            }
          }
/* responsive iphone 6,7,8plus ----------*/
@media(max-width:414px){
      nav img{
          float: left;
          width: 80px;
          height: 80px;
          margin-left: 20px;
          
      }
      .material-icons{
          display: block;
          }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              color: yellow;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
            }
          }
/* responsive iphone X ----------*/
@media(max-width:375px){
 .material-icons{
  display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background-color:#2f3640;
      top: 60px;
      left:100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav li{
      display: inline-block;
      flex-direction: column;
      display: block;
   
    }
    nav li a{
      font-size: 20px;
    }
    a.active,a:hover{
        color: tan;
      border: none;
    }
    nav ul.show{
      left: 0;
    }
}


/*--------------------
header text 
----------------------- */
.text-style h4{
    font-family: 'Dancing Script', cursive; 
    font-style: italic;
    text-align: center;
    float: left;
    color: #eaa023;
    padding: 10%;
    margin: 10%;
    font-size: 60px;
}
/*------------------ 
after about story
------------------ */
.about {
    background-color: #ffff;
    color: black;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 40px 40px 0px;
}

/* ------------------
  
img
-----------------*/
  .cover,img{
    
    height: 40vh;
   width: 45vh; 
  }
  

  @media(max-width:414px)
  {
    .container{
      text-align: center;
      font-family: 'Recursive', sans-serif;
      font-size: 25px;
      padding: 0px;
      margin-top: 0px;
    }
  }
  .pic{
    border-radius: 5px;
    height: 35vh;
    width: 45vh;
  }
  /*-------------------
   responsive ipad
  ---------- */
  @media(max-width:1024px){
    .pic{
      border-radius: 5px;
      height: 20vh;
      width: 20vh;
    }
    .cover,img{
      height: 40vh;
     width: 40vh; 
    }
  }
   /* ------------
  suface
  -------------------------*/
  @media(max-width:540px){
    .pic{
      border-radius: 5px;
      height: 40vh;
      width: 50vh;
    }
    .cover,img{
      height: 40vh;
     width: 40vh; 
    }
  }
  /* ------------
  iphone 6,7,8plus 
  -------------------------*/
  @media(max-width:414px){
    .pic{
      border-radius: 5px;
      height: 45vh;
      width: 45vh;
    }
  }
  /* ------------
  iphone x 
  -------------------------*/
  @media(max-width:375px){
    .pic{
      border-radius: 5px;
      height: 30vh;
      width: 30vh;
    }
    .cover,img{
      height: 30vh;
     width: 30vh; 
    }
  }
 
  /* ------------
  iphone 5 
  -------------------------*/
  @media(max-width:320px){
   .col-md-4{
     padding: 10px;
     
   }
  }
  h2{
    color: #eaa023;
    align-items: center;
  }

  hr{
    color: gray;
    size: 4px;
  }
  .team-section{
    color: #eaa023;
  }
  .team-section p{
    color: black;
  }
  .col-md-12 img{
    width: 70%;
    height: 60%;
  }
  @media (max-width:414px) {
    .col-md-12 img{
      width: 90%;
      height: 50%;
    }
  }
  
  /* start 
  Contact*/
  h6{
    
    /*  */
    color: black;
    text-align:center;
    font-family: cursive;
    font-style: italic;
  }
  
  .contact-dark{
    position: fixed;
      color: #eaa023;
      text-align:center;
      font-family: cursive;
      font-style: italic; 
    }

    .form-group{
      box-sizing: border-box;
      color: black;
    }
    .checkbox{
      color: black;
    }
    .menu_content_classic .menu_price {
      position: absolute;
      top: -5px;
      right: 0;
      font-size: 17px;
      color: #222;
      z-index: 2;
      background: #fff;
     
      margin: 30px 0 0 0;
  }
  /*--button coplete menu--*/
  .button{
      
    background-color:transparent;
    color: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500px;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid #eaa023;
    
  }
  .button:hover{
    color: wi;
    background-color: #eaa023;
  }