*{
    margin: 0;
    padding: 0;
}
.body{
    background-color:whitesmoke;
    font-family:cursive;
}
a{
  text-decoration: none;
}
nav{

  
  text-align: right;
  top: 0;
  left: 0;
  z-index: 1s;
  opacity: 0.9;
  height: 80px;
  width: 100%;
}
nav img{
  float: left;
  width: 151px;
  height: 170px;
  margin-left: 20px;
  
}
nav ul{
  display: block;
  padding: 0;
  margin: 0;
}
nav li{
  list-style: none;
  display: inline-block;
  flex-direction: column;
}
nav li a{
color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 37px 10px 35px ;
  margin-right: 10px;
}
a:active,a:hover{
  background-color: #eaa023;
  border-radius: 8px;
  transition: .5s;
}
.material-icons{
  display: none;
  padding: 10px;
  margin:20px;
  cursor: pointer;
  line-height: 40px;


}
/* responsive surface duo ----------*/
@media(max-width:540px){
  nav img{
      float: left;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      
  }
  .material-icons{
      display: block;
      }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              line-height:0;
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              line-height: 0px;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
              
            }
          }
/* responsive iphone 6,7,8plus ----------*/
@media(max-width:414px){
      nav img{
          float: left;
          width: 80px;
          height: 80px;
          margin-left: 20px;
          
      }
      .material-icons{
          display: block;
          }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              color: yellow;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
            }
          }
/* responsive iphone X ----------*/
@media(max-width:375px){
 .material-icons{
  display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background-color:#2f3640;
      top: 60px;
      left:100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav li{
      display: inline-block;
      flex-direction: column;
      display: block;
   
    }
    nav li a{
      font-size: 20px;
    }
    a.active,a:hover{
        color: tan;
      border: none;
    }
    nav ul.show{
      left: 0;
    }
}

  /* start 
  Contact*/
  h6{
    
    /*  */
    color: black;
    text-align:center;
    font-family: cursive;
    font-style: italic;
  }
  
  .contact-dark{
    position: fixed;
      color: #eaa023;
      text-align:center;
      font-family: cursive;
      font-style: italic; 
    }

    .form-group{
      box-sizing: border-box;
      color: black;
    }
    .checkbox{
      color: black;
    }
    .menu_content_classic .menu_price {
      position: absolute;
      top: -5px;
      right: 0;
      font-size: 17px;
      color: #222;
      z-index: 2;
      background: #fff;
     
      margin: 30px 0 0 0;
  }
  /*--button coplete menu--*/
  .button{
      
    background-color:transparent;
    color: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500px;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid #eaa023;
    
  }
  .button:hover{
    color: wi;
    background-color: #eaa023;
  }
  /* .footer
{
  padding: 80px 0;
  background-image: url(../image/02\ \(1\).jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: -1;
  
}
.footer::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}
.footer-item{
 width: calc(100%/3);
 padding: 0 15px;
 color: white;
}
.footer-item p{
  color: #eaa023;
} */