@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500&family=Great+Vibes&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&family=Recursive:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;   
    font-size: 18px;
}

a{
    text-decoration: none;
    
}
nav{

  
  text-align: right;
  top: 0;
  left: 0;
  z-index: 1s;
  opacity: 0.9;
  height: 80px;
  width: 100%;
}
nav img{
  float: left;
  width: 151px;
  height: 170px;
  margin-left: 20px;
  
}
nav ul{
  display: block;
  padding: 0;
  margin: 0;
}
nav li{
  list-style: none;
  display: inline-block;
  flex-direction: column;
}
nav li a{
color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 37px 10px 35px ;
  margin-right: 10px;
}
a:active,a:hover{
  background-color: #eaa023;
  border-radius: 8px;
  transition: .5s;
}
.material-icons{
  display: none;
  padding: 10px;
  margin:20px;
  cursor: pointer;
  line-height: 40px;


}
/* responsive surface duo ----------*/
@media(max-width:540px){
  nav img{
      float: left;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      
  }
  .material-icons{
      display: block;
      }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              line-height:0;
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              line-height: 0px;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
              
            }
          }
/* responsive iphone 6,7,8plus ----------*/
@media(max-width:414px){
      nav img{
          float: left;
          width: 80px;
          height: 80px;
          margin-left: 20px;
          
      }
      .material-icons{
          display: block;
          }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              color: yellow;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
            }
          }
/* responsive iphone X ----------*/
@media(max-width:375px){
  nav img{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    
}
 .material-icons{
  display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background-color:#2f3640;
      top: 60px;
      left:100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav li{
      display: inline-block;
      flex-direction: column;
      display: block;
   
    }
    nav li a{
      font-size: 20px;
    }
    a.active,a:hover{
        color: tan;
      border: none;
    }
    nav ul.show{
      left: 0;
    }
}

.text-style h4{
    font-family: 'Dancing Script', cursive; 
    font-style: italic;
    text-align: center;
    float: left;
    color: #eaa023;
    padding: 10%;
    margin: 10%;
    font-size: 60px;
}
/*------------------ 
after about story
------------------ */
.about {
    background-color: #ffff;
    color: black;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 40px 40px 40px;
}
 .heading strong{
        font-family: 'Dancing Script', cursive; 
        font-style: italic; 
        color: #eaa023;
        font-size: 30px;
        text-align: center !important;
        
        
      }
@media(max-width:540px){
    .text-style h4{
        font-family: 'Dancing Script', cursive; 
        font-style: italic;
        text-align: center;
        float: left;
        color: #eaa023;
        font-size: 40px;
    }
}
@media(max-width:414px)
{
    .text-style h4{
        font-family: 'Dancing Script', cursive; 
        font-style: italic;
        text-align: center;
        float: left;
        color: #eaa023;
        font-size: 30px;
    }   
}
@media(max-width:375px)
{
    .text-style h4{
        font-family: 'Dancing Script', cursive; 
        font-style: italic;
        text-align: center;
        float: left;
        color: #eaa023;
        font-size: 25px;
    }   
}
@media(max-width:540px){
    .about{
    font-size: 25px;    
    color: black;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 20px 20px 20px;
    }
}
@media(max-width:414px){
    .about{
    font-size: 25px;
    color: black;
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    
    }
}

/* ------------------
    about us
------------------ */

  /*--animation text---*/
  .home-section{
    font-family:'Recursive', sans-serif;
    font-style: italic;
    text-align: center;
    color: #eaa023;
    padding: 10%;
    margin: 10%;
    animation: ZoomInOut 20s ease infinite;
  } 
  
  /*--button our menu---*/
  
  .pic{
    height: 30vh;
     width: calc(100%/1);
     padding:auto;
     margin:0;
   }
  /*--img--*/
  .cover,img{
    height: 45vh;
    float: right;
     
  }
  /* img reponsive iphoneX---- */
  @media(max-width:375px){
    .cover,img{
      height: 20vh;
      width: 40vh;
      
    }
  }
  /* -----------------------
  iphone 6,7,8 plush
   ------------------------*/
  @media(max-width:414px){
    .cover,img{
      height: 35vh;
      float: right; 
    }
  }
  /*--text--*/
   .about-text{
     margin-top: 30px;
     background-color: whitesmoke;
   }
  /*--About us end--*/
  .price{
    color: #eaa023;
  }
  /* ------------------------
  team section---------------- */
      .team-section{
        text-align: center;
        font-size: 18px;
        color: #eaa023;
        border-radius: 8px;
      }
  /*-------------------------- 
  image chef -----------------*/
      .col-md-4 img{
        width: calc(100%/1);
        height: 40vh;
        width: 40vh;
        align-items: center;
      }
    p{
      color:black;
    }
      /*----------
       responsive ipad ------------*/
      @media only screen and (max-width:1024px){
        .col-md-4 img{
          width: calc(100%/1);
          height: 20vh;
          width: 20vh;
          align-items: center;
        }
        .pic{
          
          height: 20vh;
           width: calc(100%/1);
            padding:auto;}
        
      }
      @media(max-width:540px){
        .col-md-4 img{
          width: calc(100%/1);
          height: 30vh;
          width: 30vh;
          align-items: center;
        }
        .team-section{
          text-align :center;
          font-size: 15px;
          color: #eaa023;
          border-radius: 8px;
        }
        .pic{
          height: 30vh;
          width: 20vh;
           width: calc(100%/1);
           padding:auto;
           margin:0;
        }
      }
      /*------- iphoneX--------- */
      @media(max-width:375px){
        .col-md-4 img{
          width: calc(100%/1);
          height: 35vh;
          width: 35vh;
          align-items: center;
        }
        .team-section{
          text-align: center;
          font-size: 18px;
          color: #eaa023;
          border-radius: 8px;
        }
      }
      
      /*--text--*/
      .about-text strong
      {
        font-family:'Recursive', sans-serif;
          color:#eaa023;
          text-align: center;
      }
     
  /* start 
  Contact*/
  
 .contact-dark{
  position: fixed;
    color: #eaa023;
    text-align:center;
    font-family: cursive;
    font-style: italic; 
  }
  h6{
    color: black;
    text-align:center;
    font-family: cursive;
    font-style: italic;
  }
  .container{
    
   text-align:left;
   font-family:'Recursive', sans-serif;
  font-style: italic;
  }
  .form-group{
    box-sizing: border-box;
    color: black;
  }
  .checkbox{
    color: black;
  }
  .button{
    
    background-color:transparent;
    color: #eaa023;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 80px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 100%;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid#eaa023;
    
  }
  .button:hover{
    color: black;
    background-color: #eaa023;
  }
