*{
  margin:0;
  padding: 0;
}
a
{
  text-decoration: none;
}
body{
  font-family:cursive;

} 
nav{

  background-color: gray;
  text-align: right;
  top: 0;
  left: 0;
  z-index: 1s;
  opacity: 0.9;
  height: 100px;
  width: auto;
}
nav img{
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  
}
nav ul{
  display: block;
  padding: 0;
  margin: 0;
}
nav li{
  list-style: none;
  display: inline-block;
  flex-direction: column;
}
nav li a{
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 37px 10px 35px ;
  margin-right: 10px;
}
a:active,a:hover{
 
  transition: .5s;
}
.material-icons{
  display: none;
  padding: 10px;
  margin:20px;
  cursor: pointer;
  line-height: 40px;


}
/* responsive surface duo ----------*/
@media(max-width:540px){
  nav img{
      float: left;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      
  }
  .material-icons{
      display: block;
      }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;

              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              line-height:0;
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              line-height: 0px;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
              
            }
          }
/* responsive iphone 6,7,8plus ----------*/
@media(max-width:414px){
      nav img{
          float: left;
          width: 80px;
          height: 80px;
          margin-left: 20px;
          
      }
      .material-icons{
          display: block;
          }
          nav ul{
              position: fixed;
              width: 100%;
              height: 50vh;
              background-color:#2f3640;
              top: 60px;
              left:100%;
              text-align: center;
              transition: all .5s;
            }
            
            nav li{
              display: inline-block;
              flex-direction: column;
              
              display: block;
           
            }
            nav li a{
              font-size: 20px;
              color: yellow;
            }
            a.active,a:hover{
                color: tan;
              border: none;
            }
            nav ul.show{
              left: 0;
            }
          }
/* responsive iphone X ----------*/
@media(max-width:375px){
 .material-icons{
  display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background-color:#2f3640;
      top: 60px;
      left:100%;
      text-align: center;
      transition: all .5s;
    }
    
    nav li{
      display: inline-block;
      flex-direction: column;
      display: block;
   
    }
    nav li a{
      font-size: 20px;
    }
    a.active,a:hover{
        color: tan;
      border: none;
    }
    nav ul.show{
      left: 0;
    }
}

  .about-section{
    background-color: white;
    padding: 0;
    }
  
    /*--section title--*/
    .section-title{
      padding: 0;
      text-align:  center;
    }
    .section-title p{
       font-style: italic;
    }
    /*--img--*/
  .section-title img
  {
    width: 80%;
    height: 80%;
  }
    
    /*--text--*/
    .about-text strong
    {
        color:#eaa023;
        padding: 10px;
        margin: auto;
        text-align: right;
    }
    .button-cook{
      background-color:transparent;
      color: black;
      display: inline-block;
      padding: 10px 20px ;
      border-radius: 50px;
      text-transform :capitalize;
      font-size: 16px;
      cursor: pointer;
      font-weight: 50px;
      font-family: initial;
      transition: all 0.3s ease;
      line-height:1.5;
      user-select: none;
      border: none;
      border: 2px solid #eaa023;
      
    }
    .button-cook:hover{
      color:white;
      background-color: #eaa023;
    }
    .button{
      color: black;
      padding: 10px 20px;
      border-radius: 30px;
      text-transform: capitalize;
      font-size: 20px;
      cursor: pointer;
      font-weight: 500px;
      font-family: initial;
      background-color:#eaa023;
    }
    .button:hover{
      color:white;
    }
    .button1{
      color: black;
      padding: 10px 20px;
      border-radius: 30px;
      text-transform: capitalize;
      font-size: 20px;
      cursor: pointer;
      font-weight: 500px;
      font-family: initial;
      background-color:skyblue;
    }
    .button1:hover{
      color:white;
    }
    .price{
      color: #eaa023;
      font-size: 20px;
    }
     /*--button our menu---*/
  
  .pic{
    height: 30vh;
     width: calc(100%/1);
     padding:auto;  
     margin-top: 10px;
  }
  @media only screen and (max-width:1024px){
   
    .pic{
      
      height: 20vh;
       width: calc(100%/1);
        padding:auto;}
    
  }
  @media(max-width:540px){
  
    .pic{
      height: 40vh;
      width: 20vh;
       width: calc(100%/1);
       padding:auto;
       align-items: center;
       margin:0;
    }
  }
    /* contact start----------------------------------------------------------------- */
    .contact-dark{
      color: black;
      text-align:center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    }
    .contact-dark h5{
        font-style: italic;
    }
  
  .container{
     text-align:left;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .form-group{
      box-sizing: border-box;
      color: black;
  }
  .checkbox{
      color: black;
  }
  .btn{
      
      background-color:transparent;
      color: #eaa023;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 80px;
      text-transform: capitalize;
      font-size: 16px;
      cursor: pointer;
      font-weight: 100%;
      font-family: initial;
      transition: all 0.3s ease;
      line-height:1.5;
      user-select: none;
      border: none;
      border: 2px solid#eaa023;
      
    }
    .btn:hover{
      color: black;
      background-color: #eaa023;
    }
    
    .text{
      text-align: center;
      color:#eaa023 ;
      font-style: italic;
      font-family: cursive;
    }
    /* input full--------------------------------------------------------------*/
.sku-quantity.quantity-value{
      text-align: center;
}
.quantity-value .btn-quantity {
  width: 28px;
  height: 28px;
  vertical-align: top;
  border-radius: 10px;
  border: 2px solid #eaa023;
  display: inline-block;
  text-align: center;
  background: #fff;
}
.btn-quantity:hover{
  color: black;
  background-color: #eaa023;
}
    /* end input----------------------------------------------------- */
   