 <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="css/bootstrap.min.css">
         <script src="js/bootstrap.min.js"></script>
         <link rel="stylesheet" href="css/aboutstyle.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script>
            $(document).ready(function(){
                $('.material-icons').click(function(){
                    $('ul').toggleClass('show');
                })
            })
        </script>
            <style>
                body{
                    background: url(image/about06.jpg)no-repeat;
                    background-size:cover;
                }
                
                
            </style>
    </head>
    <body>
        <section>
<!--start navbar menu resterant--------->
                <!-- <div class="container"> -->
                  <div>
                    <nav style="position: fixed;">
                        <img src="image/malis-logo-square.png" alt="malis-logo">
                        <i class="material-icons" id="menu-icons" style="font-size: 30px;color: white; float: right;">menu</i>

                        <ul>
                          <li><a class="active"  href="homepage.html"> HOME</a></li>
                          <li><a class="active"  href="About us.html">ABOUT</a></li>
                          <li><a class="active"  href="menu testing.html">MENU</a></li>
                          <li><a class="active"  href="contact.html">CONTACT</a></li>
                      </ul>
                    </nav>
                </div>
          </section>
    <div class="about" style="margin-top: 50vh;" >
            <div style="text-align: center; font-family:'Recursive', sans-serif;font-weight: bold;font-size: 25px;">
              Malis is a high-end restaurant which boasts a <br>
              ‘Living Cambodian Cuisine’.
            </div>
     <!---------------
       start contact
       -------------->
       <section id="contact" >
                        
        <div>
            <h2 style="text-align: center; color:#eaa023;font-family:'Dancing Script', cursive;font-weight: bold;font-size: 30px;margin-top: 10vh;">CONTACT US</h2>
            <h6>#F23B, St Duong Ngiep 3, Teuk Thla, Sen Sok, Phnom Penh, Cambodia <br><br>Email:Maliscambodia@gmail.com<br><br> TEL: 081 374 333/088 59 99 030</h6> 

        </div>
        
        
        <div class="container">
            
            <form action="#">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name" placeholder=" Enter name" name="name"><br>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br>
              </div>
              <div class="form-group">
                <label for="address">Address:</label>
                <input type="address" class="form-control" id="address" placeholder="Enter address" name="address"><br>
              </div>
              <div class="form-group">    
                <textarea id="message" name="message" placeholder="Message" rows="10" style="height: 50%;width: 100%;" ></textarea>
           </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember"> Remember me
                </label><br>
              </div>
                <div class="col-md-4 col-md-offset-4 jt_col column_container"><br> 
                  <a href="#  " class="button">Submit</a> <br><br><br><br>
              </div>
           </form>
          </div>
          <h3 style="color: #eaa023;text-align: center;">Thank You!</h3>
</section>
</div> 
    </body>
</html>